.order-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-details-order {
    width: 100%;
}

.order-details-delivered-address {
    width: 100%;
}

.order-details-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:auto;
}

.order-details-cancel-button {
    margin: 10px;
    padding: 0.5rem;
    text-align: center;
    background-color: #f06940;
    border: none;
    border-radius: 0.5rem;
    color: white;
}

.order-details-change-button {
    margin: 10px;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: #f0c040;
}
.order-details-tracking-button {
    margin: 10px;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: #f0c040;
}
.order-details-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
.order-details-table-products {
    width: 100%;
    table-layout: auto;
    margin-top: 1rem;
    border-collapse: collapse;
}
.order-details-table-product th,.order-details-table-product td {
    padding: 0.75rem; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}
.order-details-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .order-details-container {
        padding: 0; 
    }

    .order-details-actions {
        flex-direction: column;
        align-items: center; 
    }

    .order-details-cancel-button,
    .order-details-change-button,
    .order-details-tracking-button,
    .order-details-review-button {
        width: 100%; 
    }

    .order-details-table-summary,
    .order-details-table-address,
    .order-details-table-product {
        font-size: 0.60rem;
    }

    .order-details-image {
        width: 50px; 
        height: 50px;
        border-radius: 0.5rem;
    }
}
