.cart-payment-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  gap: 20px;
}

.cart-payment-content {
  width: 70%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-payment-container-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cart-payment-content-details {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-payment-summary {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-payment-content h2,
.cart-payment-summary h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.cart-payment-selector {
  position: relative;
  margin-bottom: 20px;
}

.cart-payment-selector-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-payment-selector-header:hover {
  background-color: #f0f0f0;
}

.cart-payment-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart-payment-options a {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart-payment-options a:last-child {
  border-bottom: none;
}

.cart-payment-options a:hover {
  background-color: #f0f0f0;
}

.cart-payment-options a svg {
  margin-right: 10px;
}

.payment-card-content {
  background-color: #fff;
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.payment-card-content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #edededbc;
  cursor: pointer;
}

.payment-card-content p {
  margin: 10px 0;
}

.payment-summary-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-summary-details p {
  margin: 0;
}

.payment-summary-details input[type="text"] {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.payment-summary-details input[type="text"]:focus {
  border-color: #b9b9b9;
}

.payment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.payment-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.payment-card-content {
  display: flex;
  flex-direction: column;
}

.payment-card-content.selected {
  border: 2px solid #4CAF50;
  background-color: #e6ffe6;

}

.payment-button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  transition: background-color 0.3s ease,
    border-color 0.3s ease, color 0.3s ease;
  outline: none;
}

.payment-button-delete {
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: background-color 0.3s ease,
  border-color 0.3s ease, color 0.3s ease;
  z-index: 1000;
  outline: none;
  background-color: #b64848;
}

.payment-form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.payment-form-container div {
  display: flex;
  flex-direction: column;
}

.payment-form-container div label {
  margin: 0;
}

.payment-form-container div input {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.payment-buttons-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin: auto;
}

@media (max-width: 768px) {
  .cart-payment-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 90%;
    padding: 15px;
  }

  .cart-payment-content,
  .cart-payment-summary {
    width: 100%;
  }

  .cart-payment-summary {
    padding: 0 1rem 1rem;
  }

  .cart-payment-selector-header,
  .cart-payment-options a {
    font-size: 0.9rem;
    padding: 8px;
  }

  .payment-card-content p {
    font-size: 0.9rem;
  }


}