.shipping-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.shipping-method {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    justify-content: flex-start;
    margin-right: 2rem;
}

.shipping-method h3 {
    display: flex;
    justify-content: flex-start;
}

.shipping-options {
    display: flex;
    flex-direction: column;
}

.shipping-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75rem;
}

.shipping-option input {
    width: 10%;
}

.shipping-option label {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}






.shipping-summary {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
}

.shipping-summary-details p {
    margin: 8px 0;
}

.shipping-summary-details input {
    width: 95%;
    padding: 0.5rem 0.5rem 0.5rem ;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.shipping-summary-details button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .shipping-container {
        flex-direction: column;
        width: 95%;
        margin: auto;
        padding: 16px;
        padding: 0;
    }

    .shipping-method {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .shipping-summary {
        width: 95%;
        padding: 0.5rem;
    }

    .shipping-summary-details input {
        width: 90%;
        display: flex;
        padding: 0.5rem;
        margin: 0.5rem auto;
    
    }
    .shipping-summary-details button {
        width: 95%;
        display: flex;
        padding: 0.5rem;
        margin: 1rem auto;
    }
}
