.profile-details-address {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile-details-address-details {
  flex: 0 0 calc(45% - 1rem);
  position: relative;
  margin: 0 0 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 3rem 0.5rem;
  cursor: pointer;
}

.profile-details-address-details:hover {
  background-color: #f1f1f1;
}

.default-address {
  border: 2px solid #4CAF50;
  background-color: #e6ffe6;
}

.profile-details-address h4 {
  margin-bottom: 10px;
}

.profile-details-address-details h4 {
  margin:0;
  margin-bottom: 5px;
}

.profile-details-address-details p {
  margin: 5px 0;
}

.profile-details-addresses-edit-button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0d7100;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  margin-top: 10px;

}
.profile-details-addresses-delete-button {
  position: absolute;
  right: 0.5rem;
  bottom: 3.5rem;
  display: inline-block;
  background-color: #0d7100;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}

.profile-details-addresses-delete-button {
  background-color: #d10000;
}

.profile-details-addresses-delete-button:hover {
  background-color: #830000;
}

.profile-details-addresses-edit-button:hover {
  background-color: #085c00;

}

.profile-details-add-address {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .Addresses-content {
    margin: 0 1rem;
  }
 
  .profile-details-addresses-edit-button,
  .profile-details-addresses-delete-button {
    margin: auto;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    margin-top: 10px;
  }

  .profile-details-address {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }

  .profile-details-address-details {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 0;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 3rem 0.5rem;
    cursor: pointer;
  }

}