.address-form {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.address-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
}

.address-form-header {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    background-color: #28a745;
}

.address-form-header h3 {
    padding: 1rem;
    margin: 0;
}

.form-title {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.form-title input {
    width: 92.5%;
    margin: auto;
    padding: 0;
    height: 2.5rem;

}

.form-row-data {
    padding: 1rem 0;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.form-row-data div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2rem;
}

.form-row-data div input {
    padding: 0;
    width: 100%;
    height: 2.5rem;

}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: auto;
}

.form-buttons button {
    width: 45%;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .address-form {
        margin-top:1rem;
        width: 100%;
        height: 100%;

    }
    .form-title {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
    }

    .address-form-header h3 {
        font-size: 1.5rem;
    }

    .form-title input {
        width: 90%;
    }

    .form-title label {
        display: flex;
        justify-content: flex-start;
    }
    .form-row-data  {
        width: 100%;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .form-row-data div {
        width: 95%;
        margin:0;
    }

    .form-row-data div input {
        width: 95%;
    }

    .form-buttons {
        width: 40%;
    }

    .form-buttons button {
        width: 45%;
        padding: 0.5rem;
        font-size: 1rem;
    }
}