.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-images img {
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer; 
  flex-shrink: 0; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; 
  height: 30px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  font-size: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10; 
}

.arrow.left {
  left: 10px; 
}

.arrow.right {
  right: 10px;
}

.arrow.left.hidden {
  display: none;
}

.arrow.right.hidden {
  display: none;
}

@media screen and (max-width: 768px){
  .slider-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
  }

  .slider-images img {
    height: 100px;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 80%; 
    background-color: rgba(95, 84, 84, 0.269); 
    color: white; 
    font-size: 24px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10; 
  }
  .arrow.left {
    left: 0; 
  }
  
  .arrow.right {
    right: 0;
  }
}