.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-images img {
  width: 35%; 
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px; 
  height: 30px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
  font-size: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow.left {
  left: 10px; 
}

.arrow.right {
  right: 10px;
}

.arrow.left.hidden {
  display: none;
}

.arrow.right.hidden {
  display: none;
}
