.image-gallery {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
  }
  
  .main-image {
    width: 40rem; 
    height: auto; 
    margin-bottom: 20px;
  }
  
  .main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .thumbnails {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnails img {
    width: 50px; 
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0.15rem;
    object-fit: cover; 
  }
  
  .thumbnails img.active {
    border-color: rgb(11, 138, 0); 
  }
  @media screen and (max-width: 768px) {
    .image-gallery {
      flex-direction: column-reverse;
    }
  
    .main-image {
      width: 100%;
    }
  
    .thumbnails {
      flex-direction: row;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 10px;
    }
  
    .thumbnails img {
      width: 50px;
      height: 50px;
      margin: 0 5px;
    }
  }