.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 998;
}

.login-buttonSwitchOn {
  background-color: #228000;
  color: #fff;
  border: none;
  padding: 0.5em;
  width: 40%;
  border-radius: 3px;
  cursor: pointer;
}


.login-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding-inline: 1em;
}


.login-buttonSwitchOff {
  background-color: #e8e8e8;
  color: #000000;
  border: none;
  width: 40%;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.login-close-div {
  position: absolute;
  background-color: #228000;
  top: 1em;
  right: 1em;
  padding: 0.25em;
  border-radius: 1em;
  cursor: pointer;
  color: #ffffff;
}

.login-close-div:hover {
  color: #000;
}

.login-h2 {
  margin-bottom: 20px;
}

.login-form-group {
  margin-bottom: 15px;
}

.login-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-forgot-password {
  margin-top: 10px;
  font-size: 0.9em;
  margin-bottom: 1rem
}

.login-forgot-password a {
  color: #228000;
  text-decoration: none;

}

.login-forgot-password a:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #228000;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1c6b00;
}

.login-social-login {
  margin-top: 20px;
}

.login-google-login-div,
.login-facebook-login-div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.login-google-login-div:hover,
.login-facebook-login-div:hover {
  background-color: #f2f2f2;
}
.login-close-div-mobile{
  display: none;
}

@media (max-width: 768px) {
  .login-container {

    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 100%;
    z-index: 998;
  }

  .login-container-i {
    position: relative;
    width: 80%;
    margin: 5rem auto;
    z-index: 998;
  }
  .login-close-div{
    display: none;
  }
  .login-close-div-mobile {
    display: block;
    position: absolute;
    padding: 0.25em;
    top:-1.5rem;
    right: 1rem;
    border-radius: 1em;
    cursor: pointer;
    color: #000000;
  }

  .login-close-div-mobile:hover {
    color: #000;
  }

  .login-buttonSwitchOn {
    background-color: #228000;
    color: #fff;
    border: none;
    padding: 0.5em;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
  }


  .login-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-inline: 1em;
  }


  .login-buttonSwitchOff {
    background-color: #e8e8e8;
    color: #000000;
    border: none;
    width: 40%;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .login-close-div {
    position: absolute;
    top: 1em;
    right: 1em;
    margin: auto;
    background-color: #228000;

  }

  .login-close-div:hover {
    color: #000;
  }

  .login-form-group {
    margin-bottom: 15px;
  }



  .login-form-group input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .login-forgot-password {
    margin-top: 10px;
    font-size: 0.9em;
  }

  .login-forgot-password a {
    color: #228000;
    text-decoration: none;
  }

  .login-forgot-password a:hover {
    text-decoration: underline;
  }

.login-button {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #228000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

.login-button:hover {
    background-color: #1c6b00;
  }

  .login-social-login {
    margin-top: 20px;
  }

  .login-google-login-div,
  .login-facebook-login-div {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }

  .login-google-login-div:hover,
  .login-facebook-login-div:hover {
    background-color: #f2f2f2;
  }
}