.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d640e;
    color: white;
    position: sticky;
    top: 0;
}


.nav .title {
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.nav ul {
    display: flex;
}

.nav ul li {
   list-style: none; 
}

.nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.nav ul li a:not(.active):hover {
    background-color:#17480d ;
}

.nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5rem;
    height: 2rem;
}
.SearchBar-default{
    position:relative;
    display: flex;
    align-items: center;
    margin: 1rem 1rem 0rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    background-color: #ffffff;

}
.SearchBar-default input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
}
.IconSearch {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: white;
  cursor: pointer;
}
.nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}
.icons{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: inherit; 
    text-decoration: none; 
}
.categories {

  display: flex;
  justify-content: center;
  background-color: #1d640e;
  padding-bottom: 1rem;
}

.categories ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories ul li {
  margin: 0 10px;
}

.categories ul li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.categories ul li a:hover {
  background-color: #17480d;
  padding-top:0.5rem;
}
.SearchBar-mobile{
    display: none;
}
.user-menu {
    position: absolute;
    top: 4.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 1002;
  }
  
  .user-menu .user-menu-bubble {
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-menu .user-menu-bubble  li {
    padding: 0.5rem 1rem;

  }
  
  .user-menu .user-menu-bubble  li a {
    text-decoration: none;
    color: #333;
  }
  
  .user-menu .user-menu-bubble  li a:hover {
    background-color: #f5f5f5;
  }
  
  .bubble-pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -10px;
    right: 10px;
  }
  
  .cart-counter{
    position: absolute;
    top: 2rem;
    right: 4rem;
    background-color: #6f896a;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .search-selector {
    height: 100%; 
    width: auto; 
    padding: 0; 
    border: 1px solid #cccccc00; 
    border-radius: 4px; 
    font-size: 1rem;
    background-color: white; 
    cursor: pointer; 
  }
  
  

@media (max-width: 768px) {
    .nav {
        position: relative;
        flex-direction: row; 
    }
    .nav .title {
        font-size: 1.5rem;
        margin: 1rem 0  1rem -5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
    }
    
    .nav .menu {
        display:flex;
        margin-left: 0.5rem;
        position: relative; /* Ajustar la posición del menú */
        top: auto;
        right: auto;

    }

    .nav ul {
        display: flex;
        flex-direction: row; /* Cambiar la dirección de la lista de columna a fila */
        justify-content: space-around; /* Alinear los elementos horizontalmente */
        width: auto; /* Ajustar el ancho automáticamente */
        margin-bottom: 0; /* Eliminar margen inferior */
    }

    .nav ul li {
        width: auto;
        text-align: center;
    }

    .nav ul li a {
        margin: 0.2rem 0; /* Ajustar el margen superior e inferior */
    }

    .SearchBar-default {
        display: none;
    }

    .SearchBar-mobile {
        display: flex;
        padding: 0.5rem ;
        position: relative;
        align-items: center;
        border-radius: 0.5rem;
        width: 90%;
        border: #17480d 1px solid;
        background-color: #ffffff;
    }

    .SearchBar-mobile input {
        width: 100%;
        border: none;
    }

    .icons {
        display: flex;
        align-items: center;
        margin-top:0;
    }
    .categories {
        display: none;
    }
    .close-icon {
        font-weight: bold;
        color: #ffffff;
        font-size: x-large;
        position: absolute;
        right: 2rem;
        top: 1rem;

      }
      .menu-categories {
        position: inherit;
        list-style: none; 
        background-color: #17480d;
        width: 66%;
        height: 100%;
        text-align: left; /* Alinea el texto a la izquierda */
      }
      
      .category-title {
        font-weight: bold;
        color: #ffffff;
        font-size: larger;
        margin: 1rem 0 1rem 1rem;
      }
      
      .menu-categories li {
        margin-left:3rem;
        margin-bottom: 1rem; /* Espacio entre elementos de la lista */
      }
      
      .menu-categories li a {
        text-decoration: none; /* Quita el subrayado predeterminado del enlace */
        color: #ffffff; /* Color del texto */
      }
      
      .menu-categories li a:hover {
        color: #137200; /* Cambia el color del texto al pasar el ratón sobre él */
      }

}
