.notification {
    position: absolute;
    width: 30%;
    margin: 1rem;
    top: 1rem;
    right: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .notification.error {
    background-color: #ff7474;
    color: #ffffff;
  }
  
  .notification.success {
    background-color: #249724;
    color: #ffffff;
  }
  
  .notification.info {
    background-color: #5656ff;
    color: #dedeff;
  }
  
  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1000px){
    .notification {
      width: 90%;
      margin: auto;
      padding:0.5rem 0 0.5rem 0.5rem;
    }
    
  }