/* src/css/ProductSlider.css */
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider-image-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  width: 100%;
  border-radius: 10px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.5rem;
  z-index: 2;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}
