.product-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 10px;
    margin: 10px;
  }
  
  .ImageDiv img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .PrincipalData {
    margin-top: 10px;
  }
  
  .PrincipalData p {
    font-size: 14px;
    color: #666;
  }
  
  .PrincipalData h3 {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .SecondaryData {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .SecondaryData p {
    font-size: 16px;
    color: #333;
  }
  
  .AddCartButton {
    /* Colocamos el botón al final */
    margin-top: auto;
    background-color: #1d9d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .AddCartButton:hover {
    background-color: #006b09;

  }
  @media screen and (max-width: 768px) {
    .product-card {
      width: 95%;
      padding: 10px;
      flex-direction: column;
      margin:auto;
      margin-left: -0.25rem;
    }

    .PrincipalData {
      flex-direction: row;
      width: 100%;
    }
        
    .PrincipalData img {
      width: 30%;
      border-radius: 5px;
    }
    
    .PrincipalData p {
      font-size: 14px;
      color: #666;
    }
    
    .PrincipalData h3 {
      font-size: 18px;
      margin: 5px 0;
    }
    
    .SecondaryData {
      margin-top: 10px;
      display: flex;
    }
    
    .SecondaryData p {
      font-size: 16px;
      color: #333;
    }
    
    .AddCartButton {
      /* Colocamos el botón al final */
      margin-top: auto;
      background-color: #248d0f;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
    
    .AddCartButton:hover {
      background-color: #006b09;
  
    }
  }