/* Security.css */

.security-container {
    width: 80%; /* Limit the container width for better readability */
    margin: auto; /* Center the container on the page */
    padding: 20px;

  }
  
  .security-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Darker heading for emphasis */
  }
  
  .user-info p,
  .user-info input[type="text"],
  .user-info input[type="email"],
  .user-info input[type="tel"] {
    margin-bottom: 10px;
  }
  
  .user-info input[type="text"],
  .user-info input[type="email"],
  .user-info input[type="tel"] {
    width: 100%; /* Make input fields take up full width in edit mode */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .associated-stores {
    margin-top: 30px;
  }
  
  .associated-stores h2 {
    margin-bottom: 15px;
  }
  
  .associated-stores ul {
    list-style: none;
    padding: 0;
  }
  
  .associated-stores li {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd; /* Very light border for visual grouping */
    border-radius: 3px;
  }
  
  .actions {
    margin-top: 30px;
    text-align: center; /* Center the buttons */
  }
  
  .security-container button {
    background-color: #119c26; /* Blue primary button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px; /* Add some space between buttons */
  }
  
  .delete-button {
    background-color: #dc3545; /* Red color for the delete button */
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 500px) {
    .security-container {
      padding: 10px; /* Reduce padding on smaller screens */
    }
  }
  