.shipping-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.shipping-method {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    justify-content: flex-start;
    margin-right: 2rem;
}

.shipping-method h3 {
    display: flex;
    justify-content: flex-start;
}

.shipping-options {
    display: flex;
    flex-direction: column;
}

.shipping-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75rem;
}

.shipping-option input {
    width: 10%;
}

.shipping-option label {
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.current-address {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.address-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.address-details p {
    margin: 4px 0;
}

.add-address {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

.add-address p {
    margin: 0;
    color: #039e00;
}

.shipping-summary {
    width: 25%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
}

.summary-details p {
    margin: 8px 0;
}

.summary-details input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.summary-details button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    background: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.selected-address {
    background-color: lightgray;
  }
  
  .address-card.selected {
    background-color: lightblue;
  }
  
@media (max-width: 768px) {
    .shipping-container {
        flex-direction: column;
        width: 95%;
        margin: auto;
        padding: 16px;
        padding: 0;
    }

    .shipping-method {
        width: 100%;
        padding: 0;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .current-address {
        flex-direction: column;
        gap: 8px;
        padding:0;
    }

    .address-card {
        width: 100%;
        padding:0;
    }

    .shipping-summary {
        width: 100%;
        padding: 0;
    }

    .summary-details input,
    .summary-details button {
        width: 100%;
    }
}
