.cart-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.cart-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.cart-item:hover {
  background-color: #f1f1f1;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cart-item-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.cart-item-info p {
  margin: 5px 0;
  color: #666;
}

.link-container {
  display: flex;
  color: black;
  text-decoration: none;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: flex-end;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
}

.cart-total h3 {
  font-size: 24px;
  color: #333;
}

.checkout-button {
  padding: 15px 30px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: #219150;
}

.back-to-shop-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: green;
  font-size: 16px;
}

.back-to-shop-link:hover {
  text-decoration: underline;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-item-actions div {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
  user-select: none;
}

.cart-item-actions div:hover {
  background-color: #ddd;
}

.cart-item-actions .icon-trash {
  color: #e74c3c;
}

.cart-header-separator {
  flex-grow: 1;
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 10px;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.cart-header a {
  margin: 0 10px;
  padding: 0.25rem 1rem;
  color: #ffffff;
  border: 1px solid #4ca35f;
  border-radius: 0.5rem;
  background-color: #4ca35f;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 768px) {
  .cart-container {
    width: 95%;
    padding: 1rem 0;

  }
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-image {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .link-container {
    width: 100%;
    flex-direction: row;
  }

  .cart-item-actions {
    width: 50%;
  }

  .cart-total {
    text-align: center;
  }

  .checkout-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .back-to-shop-link {
    font-size: 14px;
  }
}
