.product-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 1rem;
  margin:2rem auto;
}

.product-image {
  width: 30%;
}

.product-details {
  width: 60%;
}

.product-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-header p {
  margin: 0;
}

.product-details h2 {
  margin-top: 0;
  font-size: 24px;
}

.product-details p {
  margin: 10px 0;
}

.quantity-container {
  display: flex;
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
}

.quantity-container label {
  margin-right: 15px;
}

.quantity-container div {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.quantity-container input {
  width: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-to-cart-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-button:hover {
  background-color:chartreuse;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
}
.review-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.review-item div {
  display: flex;
  align-items: center;
}
.review-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.review-item h4 {
  margin-left: 1rem;
}
.review-item p {
  margin: 0;
}
