.product-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin:auto;
  margin-top:1rem;
}

.product-image {
  width: 50%;
}

.product-details {
  width: 45%;
  padding: 0 1rem;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.product-header p {
  margin: 0;
}

.product-header a {
  text-decoration: none;
  color: green;
}

.product-header span {
  color: #ffd700; /* Color for star icons */
}

.product-header h2 {
  margin: 1rem 0;
}

.product-details p {
  margin: 0.5rem 0;
}

.quantity-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.quantity-container label {
  margin-right: 1rem;
}

.quantity-container div {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quantity-container input {
  width: 50px;
  text-align: center;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-to-cart-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.add-to-cart-button:hover {
  background-color: darkgreen;
}

.product-reviews {
  margin-top: 2rem;
}

.review-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.review-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.review-item h4 {
  margin: 0.5rem 0;
}

.review-item p {
  margin: 0;
}


.filled {
  color: #ffc107; /* Color de las estrellas llenas */
}

.half-filled {
  color: #d3d3d3; /* Color de las estrellas medio llenas */
}

.half-filled::before {
  content: '★';
  color: #ffc107; /* Color de las estrellas vacías */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
}


