/* Estilos para el contenedor del producto */
.product-container-global {
margin: auto;
width: 80%;
display: flex;
flex-direction: column;
}
.breadcrumbs {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.product-container {
  display: flex;
  flex-direction: row;
}

/* Estilos para el contenedor de la imagen del producto */
.product-image {
  position: relative;
  width: 60%;

}

.product-image p {
  position: absolute;
  right: 1rem;
  padding: 0.25rem;
  background-color: rgba(218, 254, 218, 0.479);
  border: 0px solid rgb(0, 0, 0);
  border-radius: 2px;
}

/* Estilos para la sección de detalles del producto */
.product-details {
  padding: 0 1rem;
  width: 100%;

}
.product-description  {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  margin-left: 1rem;
}
.product-description h3 {
margin:0
}
.product-details h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Estilos para el encabezado del producto */
.product-header {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.product-header h2 {
  margin: 0;
}

.product-header p {
  margin: 0;
}

.product-header a {
  text-decoration: none;
  color: green;
}

.product-header span {
  color: #ffc107; /* Color de las estrellas */
}

/* Estilos para el contenedor de la cantidad */
.quantity-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.quantity-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
}

/* Estilos para el botón "Añadir al carrito" */
.add-to-cart-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.add-to-cart-button:hover {
  background-color: darkgreen;
}

/* Estilos para los botones de incrementar y decrementar cantidad */
.quantity-selector button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
}

.quantity-selector button:hover {
  background-color: #e0e0e0;
}


.quantity-container input {
  width: 50px;
  text-align: center;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para la sección de reseñas del producto */
.product-reviews {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

/* Estilos para la sección de opiniones */
.Opiniones {
  margin-top: 2rem;
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

/* Estilos para la sección de reseñas */
.Reseñas {
  margin-top: 2rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

/* Estilos para el contenedor de los porcentajes de valoraciones */
.Opiniones a {
  margin-right: 10px;
  color: "black";
  text-decoration: none;
}

.Opiniones .WidthPercentaje {
  width: 50%; 
  height: 100%;
  border-radius: 1rem;
}
.WidthDiv {
  margin: 0 1rem 0 0;
  width: 70%;
  background-color: rgb(255, 255, 255);
  height: 20px;
  border: 1px solid #000000;
  border-radius: 1rem;
}

/* Estilos específicos para cada cantidad de estrellas */
.Opiniones .WidthPercentaje:nth-child(odd) {
  background-color: #ffc107;
}

.Opiniones .WidthPercentaje:nth-child(even) {
  background-color: #ffc107;
}

.starsLine {
  display: flex;
  width:90%;
  margin-top:1rem;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}
.starsLine a {
  width:30%;
}
@media screen and (max-width: 768px) {
  .product-container-global {
    width: 90%;
  }

  .product-container {
    flex-direction: column;
  }

  .product-image {
    width: 100%;
  }

  .product-details {
    width: 100%;
    padding: 0;
  }

  .product-description {
    margin-left: 0;
    margin-top: 1rem;
  }

  .quantity-container {
    flex-direction: row;
    align-items: flex-start;
    margin-top:1rem;
  }

  .quantity-selector {
    margin: 0 2rem 0 1rem;

  }

  .product-reviews {
    flex-direction: column;
  }

  .Opiniones, .Reseñas {
    width: 100%;
  }

  .Opiniones {
    align-items: center;
  }

  .Opiniones .WidthDiv {
    width: 90%;
  }

  .Reseñas {
    align-items: center;
  }

  .review-item {
    padding: 1rem;
  }

  .review-item img {
    margin: 0 auto;
  }

  .header-comment {
    flex-direction: column;
    align-items: center;
  }

  .review-item h4 {
    text-align: center;
  }
}