/* src/components/Profile.css */

.profile-container {
  display: flex;
  font-family: Arial, sans-serif;
  flex-direction: row;
  width: 90%;
  margin: 1rem auto;
}

.profile-content {
  width: 85%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
}
.profile-resume-content {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  background-color: #e8e8e8;
  color: black;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #107500;
  color: white;
}

.logout-button {
  background: none;
  border: none;
  color: #ff0000;
  cursor: pointer;
}

.user-info,
.shipping-info {
  width: 48%;
}

.edit-button {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #e0a800;
}