.product-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  margin: auto;
}

.filter-container {
  flex: 1;
  margin-right: 1rem;
  width: 40%;
}

.products-list {
  flex: 5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Estilos para los filtros */
.filters {
  display: none;
}

.pagination {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.pagination button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #248311;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #1d640e;
}

/* Estilos para los filtros */
.filter {
  margin-bottom: 1rem;
}

.filter label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.filter input {
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #248311;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

.filter button:hover {
  background-color: #1d640e;
}

.star-rating {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
}

.star-rating .star.selected {
  color: #ffd700;
}

.close-modal {
  display: block;
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Estilos para el contenedor de filtros cuando está visible */
.filter-container.visible {
  display: block;
  padding: 1rem;
  background-color: #f9fff7;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filter-container.hidden {
  display: none;
}
.close-modal {
  display:none;
}
@media screen and (max-width: 768px) {
  .filter-container {
    display: none;
  }

  .product-list-container {
    display: flex;
    margin: auto;
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-container.visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(241, 255, 240);
    z-index: 1000;
    padding:1rem;
  }

  .filter {
    width: 80%;
    margin:1rem 0 0 1rem;
  }

  .filter label {
    color: #000000;
    width: 90%;
  }

  .filter input {
    width: 90%;
  }
  .filter select {
    width: 95%;

  }
  .filter-container button {
    background-color: #248311;
    width: 50%;
    margin-top: auto;
    margin-left: 50%;
  }

  .filter button:hover {
    background-color: #1d640e;
  }

  .star-rating .star {
    color: #ddd;
  }

  .star-rating .star.selected {
    color: #ffd700;
  }

  .filters {
    display: flex;
    position: fixed;
    background-color: rgb(249, 255, 247);
    color: #383838;
    cursor: pointer;
    padding: 0.3rem;
    bottom: 1rem;
    text-align: center;
    left: 25%;
    right: 25%;
    border-radius: 10rem;
    z-index: 1000;
  }

  .filters a {
    text-decoration: none;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    color: #908f8f;
    margin: auto;
  }

  .filters-content {
    display: flex;
    background-color: rgb(249, 255, 247);
    border: #9a9a9a 1px solid;
    color: #4f4f4f;
    cursor: pointer;
    padding: 0.5rem;
    bottom: 1rem;
    border-radius: 10rem;
  }
  .close-filter-modal {
    display: block;
    position: fixed;
    bottom: 1rem;
    left: 25%;
    right: 25%;
    text-align: center;
    z-index: 1000;
  }
  
  .apply-filters-button {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
  
}
