.product-list-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .filters-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .products-list {
    flex: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Estilos para los filtros */
  .filters-column h2 {
    margin-bottom: 10px;
  }
  
  .filters-column label {
    display: block;
    margin-bottom: 10px;
  }
  
  .filters-column select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .filters-column button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .filters-column button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las tarjetas de productos */
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-card h3 {
    margin-top: 0;
  }
  
  .product-card p {
    margin-bottom: 5px;
  }
  
  .product-card button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #0056b3;
  }
  @media screen and (max-width: 768px) {
    .filters-column {
      display:none;
    }
  }